body {
	background-color: #d9ffb3;
}
div#wrapper {
    background-color: #80ff00;
    height: 100%;
    width: 98vw;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
div#main_textarea {
    position: absolute;
    margin: 10px;
    padding: 10px;
    border: 3px;
    width:30vw;
    height:120px;
    background-color: #59b300;
}
h1#main_title {
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    overflow:hidden;   
}
div#description {
    margin: 0px;
    padding: 0px;
    font-family:Arial;
}
div#main_d {
    position:relative;
    height:4.3em;
    overflow:scroll;
}
a#more_details {
    position: absolute;
    right: 10px;
    top: 115px;
    float: right;
}
div#main_functionarea {
    position: relative;
    background-color: #336600;
    width:70vw;
    height:350px;
    top:230px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;    
}
div.function_position {
    position: absolute;
    width:40%;
    height:120px;
    top:50%;
    margin-top:-60px;
}
div#fp1 {
    background-color: #ffffff;
    left:10px;
}
div#fp2 {
    background-color: #ffffff;
    right:10px;
}

