body {
	background-color: #d9ffb3;
	padding: 0;
	margin: 0;
}
div#wrapper {
	background-color: #80ff00;
	height: 600px;
	width: 100%;
	position: absolute;
	top: 335px;
	right: -4px;
	bottom: -84px;
	left: 3px;
	margin-top: -233px;
	margin-right: auto;
	margin-left: -3px;
	margin-bottom: -32px;
}
div#main_textarea {
	position: absolute;
	margin-top: -47px;
	margin-right: 61px;
	margin-left: 43px;
	margin-bottom: 32px;
	padding: 10px;
	border: 3px;
	width: 30vw;
	height: 50px;
	background-color: #59b300;
}
div#secondarea {
	position: absolute;
	top: 700px;
	left: auto;
	right: auto;
	bottom: auto;
	width: 100%;
	height: 95px;
	border: auto;
	
}
h1#main_title {
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    overflow:hidden;   
}
div#description {
	margin-top: -2px;
	margin-right: -2px;
	margin-left: -2px;
	margin-bottom: -2px;
	padding: 0px;
	font-family: Arial;
}
div#main_d {
    position:relative;
    height:4.3em;
    overflow:scroll;
}
a#more_details {
    position: absolute;
    right: 10px;
    top: 115px;
    float: right;
}
div#main_functionarea {
	position: relative;
	background-color: #336600;
	width: 70vw;
	height: 200px;
	top: 53px;
	right: 5px;
	bottom: 0;
	left: -39px;
	margin-top: 70px;
	margin-right: 77px;
	margin-left: 81px;
	margin-bottom: 77px;
}
div.function_position {
    position: absolute;
    width:40%;
    height:120px;
    top:50%;
    margin-top:-60px;
}
div#fp1 {
	background-color: #ffffff;
	left: 60px;
	top: 289px;
	height: 200px;
	width: 400px;
}
div#fp2 {
	background-color: #ffffff;
	right: 10px;
	top: 289px;
	height: 200px;
	width: 400px;
	left: 908px;
}

div.key_position ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
div.key_position li{
    float: right;
}

div.key_position li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div#secondarea {
	position: absolute;
	background-color: #A09DB7;
	width: 100%;
	height: 178px;
	top: 53px;
	right: 5px;
	bottom: 0;
	left: -39px;
	margin-top: 700px;
	margin-right: 77px;
	margin-left: 35px;
	margin-bottom: 77px;
}
div.key_position li a:hover {
    background-color: #67FAA6;
}

div#kp1 {
	background-color: #ffffff;
	top: 284px;
	height: 39px;
	width: 147px;
	left: 819px;
}
